/*
    Colors
    From "honey pot" colour scheme - https://color.adobe.com/Honey-Pot-color-theme-1490158/
    #105B63
    #FFFAD5
    #FFD34E
    #DB9E36
    #BD4932
*/

/* All our sweet stuff */
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    background-color: #FFFAD5;
}

section, nav {
    background-color: #FFFFFF;
    border: 1px solid #DB9E36;
    margin: 50px;
    float: left;
}

section {
    padding: 40px 50px;
}

nav {
    padding: 40px 0;
    flex: 0 0 auto;
    margin-right: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 8px 50px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #FFD34E;
    text-decoration: none;
}

section {
    flex: 1 1 auto;
    min-width: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #105B63;
}

a, a:active, a:visited, a:hover {
    color: #BD4932;
    text-decoration: underline;
}

.upload-link {
    color: #FFFFFF;
    background-color: #105B63;
    padding: 5px 10px;
}

.image-thumbnail {
    width: 200px; 
    margin: 10px;  
}

.image-large {
    width: 500px; 
    margin: 10px;  
}
